/* override the default styles */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
html {
    border: solid white 2px;
}
body {
    background-color: rgb(50, 18, 18);
}
   /* header styles */   
h1 {
    text-align: center;
    color: rgb(213, 213, 231);
    margin-top: 0.3rem;
}

/* main element styles main key styles */
#main-key-section {
    display: flex;
}
.main-key {
    display: inline;
    width: 5rem;
    max-height: 5.8rem;
    font-size:3.2rem;
    margin: 0.5rem 0 0.5rem 38%;
    background-color: rgb(215, 210, 210);
    border: 2px solid black;
    padding: .5rem;
    text-align: center;
    border-radius: 10%;
}
#main-key-section > ul {
    list-style: none;
   
    
}
li {
    margin: 0.5rem;
}
 button > i {
    font-size: 1.3rem;
    padding: .3rem;
    color: rgb(18, 41, 47);
  
 }


/* scale mode boxes styles */
.mode-boxes {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
}

.mode-boxes > button {
    Margin: 0.3rem 0.6rem;
    font-size: 1.6rem;
    background-color: antiquewhite;
    padding: 0.4rem;
    border-radius: 10%;
    border: 2px solid black;
}
.mode-boxes > button:hover {
    background-color: rgb(153, 105, 43);
}
.mode-boxes > button:active {
    background-color: rgb(99, 31, 112);
}

/* Chord shape boxes styles */
.chord-boxes{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.chord-boxes > div {
    Margin: 0.4rem 0.6rem;
    font-size: 2.1rem;
    background-color: rgb(87, 147, 76);
    padding: 0.4rem;
    border-radius: 10%;
    border: 2px solid black;
}
