/* override the default styles */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
html {
    background-color: rgb(39, 32, 32);
}

body {/*Ultimate css generator*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
background: linear-gradient(to bottom,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
background-color: rgb(39, 32, 32);
height: 100vh;
}
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgb(87, 93, 105);
    padding-top: 60px;
}


   /* header styles */   
h1 {
    font-family: "Space Mono", monospace;
    font-size: 1.6rem;
    text-align: center;
    color: rgb(213, 213, 231);
    margin-top: 0.2rem;
}
h2, h3 {
    font-family: "Space Mono", monospace;
    font-size: 1.3rem;
    text-align: center;
    color: rgb(191, 205, 217);
    margin-top: 0.2rem;
}
p {
    font-family: "Space Mono", monospace;
    font-size: 0.8rem;
    text-align: center;
    color: rgb(191, 212, 220);
    margin-top: 0.2rem;
}


hr {
    width: 80%;
    margin: 0.5rem 2rem;
    border: solid 1px rgba(100, 98, 90, 0.493);
}


/* main element styles main key styles */
#main-key-section {
    display: flex;
}
/*note length styles */
.note-length {
    display: inline;
    width: 2.2rem;
    max-height: 1.8rem;
    font-size:1rem;
    margin: 2.3rem 0 0rem 20%;
    background-color: rgb(215, 210, 210);
    border: 2px solid black;
    padding-top: .2rem;
    text-align: center;
    border-radius: 20%;
}

.main-key {
    display: inline;
    width: 5rem;
    max-height: 5.8rem;
    font-size:3.2rem;
    margin: 0.3rem 0 0.5rem 1rem;
    background-color: rgb(215, 210, 210);
    border: 2px solid black;
    padding: .2rem .5rem;
    text-align: center;
    border-radius: 10%;
    align-self: center;
}
#main-key-section > ul {
    list-style: none;
   
    
}
li {
    margin: 0.5rem;
}
 button > i {
    font-size: 1.3rem;
    padding: .3rem;
    color: rgb(18, 41, 47);
  
 }


/* scale mode boxes styles */
#mode-boxes {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
}


.mode-button {
    Margin: 0.3rem 0.6rem;
    font-size: 1.4rem;
    background-color: antiquewhite;
    padding: 0.4rem;
    border-radius: 10%;
    border: 2px solid black;
}
.selected {
    background-color: rgb(153, 114, 43);
}


.mode-button:hover {
    background-color: rgb(153, 128, 80);
}

/* Chord shape boxes styles */
.chord-boxes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.chord-boxes > button {
    
    Margin: 0.5rem 0.5rem;
    font-size: 1.8rem;
    background-color: rgb(87, 147, 76);
    padding: 0.3rem;
    border-radius: 10%;
    border: 2px solid black;
}
button.maj{
    background-color: rgb(87, 147, 76);
}
 button.min{
    background-color: rgb(76, 85, 147);
}
button.dim{
    background-color: rgb(147, 76, 76);
}
button.dom{
    background-color: rgb(76, 136, 147);
}

.chord-boxes > button:hover {
    background-color: rgb(216, 204, 32);
}
.chord-boxes > button:active{
    background-color: rgb(12, 207, 214);
}
.chord-boxes > button:hover {
    background-color: rgb(216, 204, 32);
}
.chord-boxes > button:active{
    background-color: rgb(12, 207, 214);
}

@media screen and (min-width: 600px) {
    
    body {
        max-width: 35rem;
        margin: 0 auto;
        border-radius: 2%;
       
        
    }
    * {
        font-size: 2rem;
    }
}