
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

body {
    background-color: rgb(50, 18, 18);
}
      
h1 {
    text-align: center;
    color: rgb(213, 213, 231);
    margin-top: 0.3rem;
}
#main-key-section {
    display: flex;
}
.main-key {
    display: inline;
    width: 3rem;
    font-size:2.8rem;
    margin: 0.5rem 0 0.5rem 45%;
    background-color: rgb(215, 210, 210);
    border: 2px solid black;
    padding: .3rem;
    text-align: center;
    border-radius: 10%;
}
#main-key-section > ul {
    list-style: none;
    margin: 0.8rem 0;
    
}

.mode-boxes {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
}

.mode-boxes > button {
    Margin: 0.3rem 0.6rem;
    font-size: 1.6rem;
    background-color: antiquewhite;
    padding: 0.4rem;
    border-radius: 10%;
    border: 2px solid black;
}
.chord-boxes{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.chord-boxes > div {
    Margin: 0.6rem 0.6rem;
    font-size: 2.1rem;
    background-color: rgb(87, 147, 76);
    padding: 0.4rem;
    border-radius: 10%;
    border: 2px solid black;
}